####### EDIT HERE ######
# Remote user to login as
REMOTE_USER="USER"
#
# Host we login to
REMOTE_HOST="HOSTNAME.COM"
# If the REMOTE_IP is set, it will override any REMOTE_HOST name given.
REMOTE_IP=""
#
# Remote path relative to once logged in
REMOTE_PATH="DEVICE/NAME"
REMOTE_PATH="v20/eric"
#
# rsync path on other end
REMOTE_RSYNC=/usr/bin/rsync
#
# Default SCP/SSH binaries
SCP="/system/bin/scp"
SSH="/system/bin/ssh"
#
# Backup direcotory relative to SD card (or internal SD)
BUDIR="v20/backup"
#
# Inital HOST IP to get missing data. (usually $REMOTE_IP )
INIT_HOST="X.X.X.X"

#
# Post script to run at the end, relative to  ${REMOTE_PATH}/${POST_SCRIPT}
# Arguments passed:
# ${REMOTE_PATH}
# ${DATE} -- format ( '+%m-%d-%Y' ) ex: 11-06-2021
# example hardlink.sh provided
POST_SCRIPT="hardlink.sh"

# Set to 1 for interal SD only, ie.. No SD card support
INTERNAL=0
####### END EDIT HERE ######
